@import url("https://fonts.cdnfonts.com/css/good-times-2");
@tailwind base;
@tailwind components;
@tailwind utilities;

.good,.font-good {
  font-family: "Good Times Rg";
}
@font-face {
    font-family: 'Poppins';
    src: url('/path/to/font/Poppins-Regular.ttf') format('truetype');
    /* Add other font styles if needed (e.g., font-weight, font-style) */
  }
  .haa{
    margin-top:30px;
    gap:30px;
  }
  .one-class{
    margin-top:100px;
    gap:100px;
  }
  .baba{
    box-shadow: 10px 15px 30px 10px rgba(0, 0, 0, 0.3);
    margin-bottom:30px;
    margin-top:30px;
    border-radius:10px;
  }
  .cont{
    gap:20px;
  }
  .ha{
    gap:75px;
  }