@import url("https://fonts.cdnfonts.com/css/good-times-2");
@tailwind base;
@tailwind components;
@tailwind utilities;

.good,
.font-good {
  font-family: "Good Times Rg";
}
@font-face {
  font-family: "Poppins";
  src: url("/path/to/font/Poppins-Regular.ttf") format("truetype");
  /* Add other font styles if needed (e.g., font-weight, font-style) */
}
.haa {
  margin-top: 30px;
  gap: 30px;
}
.one-class {
  margin-top: 100px;
  gap: 100px;
}
.baba {
  box-shadow: 10px 15px 30px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 10px;
}
.cont {
  gap: 20px;
}
.ha {
  gap: 75px;
  display: flex;
  width: 90%;
  justify-content: space-around;
}
.ba {
  gap: 20px;
  max-width: 80%;
}

.loader {
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;

  transform: translate(-0%, -50%);
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: red;
  letter-spacing: 0.2em;
}

.loader::before,
.loader::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: #ce4233;
  position: absolute;
  animation: load 0.7s infinite alternate ease-in-out;
}

.loader::before {
  top: 0;
}

.loader::after {
  bottom: 0;
}

@keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 40px;
  }
  100% {
    left: 235px;
    height: 30px;
    width: 15px;
  }
}
.bienvunue {
  -top: 110px;
}

.auto {
  width: 50vw;
  height: 100%;
}

@media (max-width: 768px) {
  .auto {
    display: hidden;
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100vh;
  padding: 100px 0;
  justify-content: space-around;
}

@media (max-width: 1024px) {
  .container {
    padding: 0px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 100px 0px;
  }
}
.title {
  text-transform: capitalize;
  color: #d12621;
  font-size: 2.25rem; /* 4xl in Tailwind */
  -top: 110px;
  font-family: "Good Times Rg";
}

@media (max-width: 768px) {
  .title {
    -top: 0;
  }
}
.subtitle {
  font-size: 1.875rem; /* 3xl in Tailwind */
}

@media (max-width: 640px) {
  /* sm in Tailwind */
  .subtitle {
    -top: 0;
  }
}

@media (max-width: 1024px) {
  /* lg in Tailwind */
  .subtitle {
    font-size: 1.125rem; /* xl in Tailwind */
  }
}
.input_sign {
  display: flex;
  width: 80%;
  height: 71px;
  border: 2px solid black;
  border-radius: 0.5rem;

  padding-left: 20px;
  font-size: 1.5rem; /* 2xl in Tailwind */
}

.inputdiv {
  display: flex;
  width: 80%;
  height: 71px;
position: relative;
  font-size: 1.5rem;
  margin-top: 50px;
}
.link {
  position: absolute;
  right: 33px;
  bottom: 26px;
  font-size: 24px;
  cursor: pointer;
}
.si2 {
  width: 100%;
  padding-left: 20px;
  border: 2px solid black;
  border-radius: 0.5rem;
}

.button_sign {
  width: 40%;
  height: 71px;
  background-color: black;
  color: white;
  -top: 93px;
  cursor: pointer;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.875rem; /* 3xl in Tailwind */
}

@media (max-width: 640px) {
  /* sm in Tailwind */
  .button_sign {
    -top: 0;
  }
}
.jj {
  position: relative;
}
