@import url("https://fonts.cdnfonts.com/css/good-times-2");
@import url("https://fonts.cdnfonts.com/css/Inter");
@tailwind base;
@tailwind components;
@tailwind utilities;

.good {
  font-family: "Good Times Rg";
}
@font-face {
  font-family: "Inter";
  src: url("./font/Inter/Inter-Regular.ttf") format("truetype");
  /* Add other font styles if needed (e.g., font-weight, font-style) */
}
.Inter {
  font-family: "Inter";
}
