@import url("https://fonts.cdnfonts.com/css/good-times-2");
@tailwind base;
@tailwind components;
@tailwind utilities;

.good,.font-good {
  font-family: "Good Times Rg";
}
@font-face {
    font-family: 'Poppins';
    src: url('/path/to/font/Poppins-Regular.ttf') format('truetype');
    /* Add other font styles if needed (e.g., font-weight, font-style) */
  }